.containerLogin { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.containerLogin > div {
    width: 80%;
    background-color: cadetblue;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.containerLogin > div > h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
}

.containerLogin > div > form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.containerLogin > div > form > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 5em;
}

.containerLogin > div > form > div > input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    font-size: 1em;
}

.containerLogin > div > form > div > :link {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    color: white;
    font-size: 1em;
    text-decoration: none;
}

.containerRegister { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.containerRegister > div {
    width: 90%;
    background-color: cadetblue;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.containerRegister > div > h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
}

.containerRegister > div > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.containerRegister > div > form > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 5em;
}

.containerRegister > div > form > div > label {
    color: white;
    font-size: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.containerRegister > div > form > div > input {
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1em;
}
